<div class="inner cover" ng-controller="formController">
    <h1 class="splash-head">Open Graph Tester</h1>
    <p class="lead">Paste in your URL</p>
    <form class="form-group row" ng-submit="processForm()">
        <div class="col-md-9" ng-class="{ 'has-error' : errorUrl }">
            <input class="form-control form-control-lg" id="url" type="url" name="url" ng-model="formData.url" placeholder="http://">
            <span class="help-block" ng-show="errorUrl">{{ errorUrl }}</span>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Test</button>
        </div>
    </form>
    <!-- <pre>
        {{formData}}
    </pre> -->

    <div id="results" ng-show="result">
        <!-- <div class="well" ng-show="result">{{ result }}</div> -->
        <div class="row" ng-show="result['og:image'] || result['og:site_name'] || result['og:title'] || result['og:description'] || result['og:url']">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead">Result</p>
                <div class="card clearfix">
                    <img data-src="{{ result['og:image'] }}" src="{{ result['og:image'] }}" class="card-block col-md-3" alt="OG image">
                    <div class="card-block col-md-9">
                        <h4 class="card-title">
                            <span ng-show="result['og:site_name']">{{ result['og:site_name'] }}</span>
                            <span ng-show="result['og:site_name'] && result['og:title']"> - </span>
                            <span class="text-muted" ng-show="result['og:title']">{{ result['og:title'] }}</span>
                        </h4>
                        <p class="card-text" ng-show="result['og:description']">{{ result['og:description'] }}</p>
                        <a href="{{ result['og:url'] }}" class="text-muted" ng-show="result['og:url']">{{ result['og:url'] }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="lead">Detailed result</p>
            <table id="others" class="table table-striped table-bordered table-hover">
                <tr ng-hide="result['Warning']">
                    <th scope="row">Property</th>
                    <th>Description</th>
                </tr>
                <tr ng-repeat="(key, data) in result">
                    <th scope="row" ng-class="{ 'alert alert-warning' : key == 'Warning' }">{{key}}</th>
                    <td ng-class="{ 'alert alert-warning' : key == 'Warning' }">{{data}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    $('a[href="#"]').addClass('active');
</script>